[submodule "Carthage/Checkouts/DeviceInfo"]
	path = Carthage/Checkouts/DeviceInfo
	url = https://github.com/benjaminsnorris/DeviceInfo.git
[submodule "Carthage/Checkouts/SettingsActions"]
	path = Carthage/Checkouts/SettingsActions
	url = https://github.com/benjaminsnorris/SettingsActions.git
